#bottom-content {
  #block-boxes-home-lower {
    position: relative;
    left: 19px;
    top: 37px;
    padding: 74px 0 88px 0;
    .stormpath-promo-video {
      position: relative;
      left: -7px;
    }
    blockquote {
      margin: 30px 20px 10px;
    }
  }

  .promo-video,
  .quote-rotate {
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
  }
}

#block-boxes-sound-good {
  clear: both;
}
