#bottom-content
{
    #block-boxes-home-lower
    {
        position: relative;
        top: 37px;
        left: 19px;

        padding: 74px 0 88px 0;
        .stormpath-promo-video
        {
            position: relative;
            left: -7px;
        }
        blockquote
        {
            margin: 30px 20px 10px;
        }
    }
    .promo-video,
    .quote-rotate
    {
        position: relative;

        float: left;

        width: 50%;

        text-align: center;
    }
}

#block-boxes-sound-good
{
    clear: both;
}
