$black: #000;
$blue: #0c61a7;
$blue-highlight: #2289dd;
$dark_blue: rgb(7, 63, 109);
$dark_grey: #191919;
$dark_orange: rgb(191, 61, 33);
$light_blue: rgb(0, 99, 182);
$light_grey: #636363;
$light_orange: rgb(254, 104, 72);
$lightest_grey: #a4a8a9;
$orange: #ff5332;
$white: #fcfbf9;
$header_dark: darken(#1b5a8f, 15%);
$header_light: lighten(#1b5a8f, 10%);
$sidebar_border: #dadada;
$form_border: #dadada;
$img_border: #dadada;
$bg_middle_dark: $dark_grey;
$bg_middle_light: lighten($dark_grey, 20%);
$bg_footer: $dark_grey;
$step_border: #3d3d3d;

// Tables/zebra stripes.
$td_even: $white;
$td_odd: #f2f2f2;

// Sassy button config.
$sb-gradient-style: 'glass';
$sb-base-color: $orange;
$sb-text-color: $white;
$sb-text-style: 'raised';
$sb-border-radius: 5px;
$sb-font-size: 1em;
$sb-padding: .5em 1.5em;
$sb-base-color: $orange;
$sb-second-color: darken($orange, 10%);

// Linear gradients for buttons.
$button_orange: linear-gradient(top, $light_orange, $dark_orange);
$button_orange_hover: linear-gradient(top, darken($light_orange, 10%), darken($dark_orange, 10%));
$button_blue: linear-gradient(top, $light_blue, $dark_blue);
$button_blue_hover: linear-gradient(top, darken($light_blue, 10%), darken($dark_blue, 10%));
