#footer {
  padding-left: 22px;

  .block {
    float: left;
    margin-bottom: 30px;

    p:last-child {
      margin-bottom: 0;
    }

    &#block-boxes-follow-footer {
      float: none;
      clear: both;
      width: 100%;
    }
    &#block-boxes-footer-left {
      clear: left;
      width: 30%;
      padding-right: 40px;
      border-right: solid 2px lighten($dark_grey, 5%);
      margin-top: 10px;
    }

    &.block-system, &.block-menu {
      max-width: 25%;
      padding: 0 72px 0 40px;
      border-left: solid 2px lighten($dark_grey, 5%);
      border-right: solid 2px lighten($dark_grey, 5%);
      margin-left: -2px;
    }
    &.last, &#block-menu-menu-documentation {
      padding-right: 0;
      border-right: none;
    }
  }
}
