@import 'base';

#bottom-content-wrapper {
  position: relative;
}

#block-boxes-sound-good {
  display: block;
  position: absolute;
  right: 0;
  // Footer margin + 1/2 height of this block + line-height (for a clearfix).
  bottom: -318px;
  width: 496px;
  height: 241px;
  @include get-sprite($icons, 'footer-zip');

  .sound-good {
    margin: 0;
    position: relative;

    a {
      position: absolute;
      top: 67px;
      right: 5px;
      display: block;
      @include hide-text;
      width: 189px;
      height: 92px;
    }
  }
}
