.region-header {
  #boxes-box-front_leader {
    .boxes-box-content {
      padding: 111px 100px 0;

      h1 {
        font-size: 380%;
        letter-spacing: 0.05em;
        margin: 0 0 70px;
      }
    }
  }

  #block-boxes-sp-signup-home {
    // 5px header padding + 65px.
    margin-bottom: 65px;
    height: 70px;
    overflow-y: visible;
    .button {
      margin-left: auto;
      margin-right: auto;
      padding: 14px 35px;
    }
  }
}

#frontpage-main-section {
  position: relative;
  text-align: center;
  img {
    display: block;
  }
  .wide-bottom {
    position: absolute;
    padding-bottom: 28px;
    width: 100%;
    bottom: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.65);
    h2 {
      color: #fff;
      font-size: 29px;
      font-weight: 500;
      margin: 29px 0 24px;
    }
  }
}

@media all and (max-width: 480px)  {
  #frontpage-main-section {
    .wide-bottom {
      h2 {
        font-size: 16px;
      }
      .medium-green-button {
        font-size: 14px;
      }
    }
  }
}

@media all and (max-width: 719px)  {
  #frontpage-main-section {
    .wide-bottom {
      padding-bottom: 12px;
      h2 {
        margin: 12px 0 14px 0;
        padding: 0 5px;
      }
    }
  }
}

.front #main-wrapper {
  margin-top: 30px;
}

#bottom-wrapper {
  .region-bottom {
    padding-left: 42px;

    .block {
      @include zen-float;
    }
  }
}
