@import 'base';

$zen-column-count: 24;

#navigation, #name-and-slogan {
  @include zen-grid-item-base();
}

#navigation {
  @include zen-grid-item(18, 1, right);
  nav {
    width: 100%;

    ul.links {
      float: right;
      li {
        margin: 0 0 0 40px;
        padding: 0;

        a {
          display: block;
          font-size: 116%;
          text-align: right;
          font-weight: 600;
        }
      }
    }
  }
}
#name-and-slogan {
  @include zen-grid-item(6, 1);
}
#secondary-menu {
  @include zen-clear();
  @include zen-grid-item(6, 1, right);
}

body.not-front #main {
  margin-top: 60px;
}
