@import 'base';

// Leader content.
.sp-tabs.leader-content {
  div {
    clear: left;
    text-align: center;
  }
  .ui-tabs-panel {
    padding: 30px 30px 50px;
    text-align: center;
    line-height: 1.5;
  }

  ul {
    margin: 0 auto;
    padding: 0;

    li {
      float: left;
      width: 50%;
      list-style: none;
      list-style-image: none;

      a {
        font-size: 125%;
        padding: 0 0 30px 0;
        text-align: center;

        &:before {
          content: '';
          display: block;
          width: 77px;
          height: 79px;
          margin: 20px auto;
          float: none;
        }

        &.user-group-management {
          &:before {
            @include get-sprite($icons, 'user-group-management-default');
          }
        }
        &.automatic-authentication {
          &:before {
            @include get-sprite($icons, 'automatic-authentication-default');
          }
        }
        &.user-security-workflows {
          &:before {
            @include get-sprite($icons, 'user-security-workflows-default');
          }
        }
        &.integrations {
          &:before {
            @include get-sprite($icons, 'integrations-default');
          }
        }

        &:focus, &:hover {
          &.user-group-management {
            &:before {
              @include get-sprite($icons, 'user-group-management-active');
            }
          }
          &.automatic-authentication {
            &:before {
              @include get-sprite($icons, 'automatic-authentication-active');
            }
          }
          &.user-security-workflows {
            &:before {
              @include get-sprite($icons, 'user-security-workflows-active');
            }
          }
          &.integrations {
            &:before {
              @include get-sprite($icons, 'integrations-active');
            }
          }
        }
      }

      // Active or hover tab.
      &.ui-state-active {
        a {
          &.user-group-management {
            &:before {
              @include get-sprite($icons, 'user-group-management-active');
            }
          }
          &.automatic-authentication {
            &:before {
              @include get-sprite($icons, 'automatic-authentication-active');
            }
          }
          &.user-security-workflows {
            &:before {
              @include get-sprite($icons, 'user-security-workflows-active');
            }
          }
          &.integrations {
            &:before {
              @include get-sprite($icons, 'integrations-active');
            }
          }
        }
      }
    }
  }
}
