@import 'base';

// Leader content.
.sp-tabs.leader-content {
  .ui-tabs-panel {
    padding: 50px 50px;
  }

  ul {
    li {
      width: 25%;

      a {
        font-size: 150%;
        padding: 0 30px 60px;

        &:focus, &:hover {
          background: transparent image-url('triangle.png') no-repeat center bottom;
        }
        &:before {
          width: 120px;
          height: 115px;
        }
      }
    }
  }
}
