@import 'base';

// Leader content.
.sp-tabs.leader-content {
  .ui-tabs-panel {
    padding: 50px 50px;
  }

  ul {
    li {
      width: 25%;

      a {
        font-size: 150%;
        padding: 0 30px 60px;

        &:focus, &:hover {
          background: transparent image-url('triangle.png') no-repeat center bottom;
        }
        &:before {
          width: 120px;
          height: 115px;
        }

        &.user-group-management {
          &:before {
            @include get-sprite($icons, 'large-user-group-management-default');
          }
        }
        &.automatic-authentication {
          &:before {
            @include get-sprite($icons, 'large-automatic-authentication-default');
          }
        }
        &.user-security-workflows {
          &:before {
            @include get-sprite($icons, 'large-user-security-workflows-default');
          }
        }
        &.integrations {
          &:before {
            @include get-sprite($icons, 'large-integrations-default');
          }
        }

        &:focus, &:hover {
          &.user-group-management {
            &:before {
              @include get-sprite($icons, 'large-user-group-management-active');
            }
          }
          &.automatic-authentication {
            &:before {
              @include get-sprite($icons, 'large-automatic-authentication-active');
            }
          }
          &.user-security-workflows {
            &:before {
              @include get-sprite($icons, 'large-user-security-workflows-active');
            }
          }
          &.integrations {
            &:before {
              @include get-sprite($icons, 'large-integrations-active');
            }
          }
        }
      }

      &.ui-state-active {
        a {
          &.user-group-management {
            &:before {
              @include get-sprite($icons, 'large-user-group-management-active');
            }
          }
          &.automatic-authentication {
            &:before {
              @include get-sprite($icons, 'large-automatic-authentication-active');
            }
          }
          &.user-security-workflows {
            &:before {
              @include get-sprite($icons, 'large-user-security-workflows-active');
            }
          }
          &.integrations {
            &:before {
              @include get-sprite($icons, 'large-integrations-active');
            }
          }
        }
      }
    }
  }
}
