@import 'base';

#middle-content-wrapper {
  text-align: center;

  #block-boxes-home-steps {

    .one {
      background: transparent image-url('step-line-one.png') no-repeat center 20px;
    }
    .two {
      background: transparent image-url('step-line-two.png') no-repeat center 20px;
    }
    .three {
      background: transparent image-url('step-line-three.png') no-repeat center 20px;
    }

    ol {
      list-style: none;

      li {
        float: left;
        width: 33.3333%;
        padding-top: 166px;

        .liner {
          padding: 0 65px;
        }

        &.one .liner h4 {
          // Force a line-break after 'log into'.
          padding: 0 7px;
        }
      }
    }
  }
}
