/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

// "Top homepage content" box.
#block-boxes-home-leader {
  ul {
    padding: 0;
    margin: 47px 0 13px -10px;
    overflow: hidden;
    li {
      list-style: none;
      display: block;
      width: 50%;
      float: left;
      margin-bottom: 39px;
      @include box-sizing(border-box);
      padding-left: 120px;
      padding-right: 25px;
      position: relative;
      &.user-group-management {
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }
      &.automatic-authentication {
        padding-left: 130px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: 20px;
        }
      }
      &.user-security-workflows {
        clear: left;
        margin-bottom: 0;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 5px;
          left: 10px;
        }
      }
      &.integrations {
        padding-left: 130px;
        margin-bottom: 0;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 5px;
          left: 20px;
        }
      }
      @include sp_font_sans_serif();
      h2 {
        font: {
          size: 21px;
          weight: 600;
        }
        color: #565656;
      }
      font: {
        size: 18px;
        weight: 300;
      };
      color: #717171;
      a, a:link {
        color: #1877c5;
        text-decoration: underline;
        &:hover {
          color: #2c9eee;
        }
      }
    }
  }
  .boxes-box-controls {
    display: none;
  }
}

@media all and (max-width: 539px)  {
  #block-boxes-home-leader {
    ul li {
      float: none;
      width: 100%;
      &.automatic-authentication,
      &.integrations  {
        padding-left: 120px;
        &:before {
          left: 10px;
        }
      }
    }
  }
}

#footer #block-boxes-get-started-box {
  float: right;
  margin: 21px -86px 0 0;
}

@media all and (max-width: 1114px)  {
  #footer #block-boxes-get-started-box {
    float: none;
    clear: both;
    margin: 21px 0 0;
    text-align: center;
  }
}

#block-boxes-footer-left p {
  font-size: 93%;
  line-height: 1.6;
}

#block-menu-menu-main-footer-menu,
#block-menu-menu-documentation {
  font-size: 93%;
}

#block-views-recent-blog-posts-block {
  h2.block-title {
    font: {
      size: 145%;
      weight: 500;
    }
  }
  a {
    color: #0054a1;
    &:hover {
      color: #2c9eee;
    }
    font: {
      size: 110%;
      weight: 500;
    }
    line-height: 1.4;
  }
}

#block-boxes-follow {
  h2.block-title {
    font-size: 180%;
  }
  .follow-links {
    margin-left: -11px;
  }
}

#block-stormpath-docs-languages {
  .form-item-language {
    margin: 0 10px;
    &:after {
      content: "";
      display: block;
      clear: both;
      visibility: hidden;
    }
    label {
      font: {
        size: 14px;
        weight: 600;
      }
      color: #3b3b3b;
      display: block;
      float: left;
    }
    select {
      display: block;
      float: right;
      width: 55%;
    }
  }
}
