/**
 * @file
 * Doc pages styling
 */

@import "base";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@mixin docs-font {
  font: 14px Open Sans, serif;
  color: #373737;
  font-weight: 600;
}

$docs-min-width: 1062px;

.node-type-documentation {
  min-width: $docs-min-width;

  #page #header-wrapper {
    padding: 0px;
    top: 0px !important;
    min-width: $docs-min-width;
    background: url('/images/header-gradient-h55.png?1382661283');
  }

  #header {
    max-width: none;
    padding-left: 0px;
    min-width: $docs-min-width;

    #name-and-slogan  {
      float: left;
      margin: 0px;
      width: auto;
      padding-left: 16px;
    }

    #site-name {
      bottom: 3px;
      position: relative;
      
      a {
        display: inline-block;
        background-position: 0 -3569px;
        height: 25px;
        background: url('/images/doc-logo.png');
        width: 311px;
      }
    }

    #navigation {
      top: 3px;
      right: 25px;
      position: absolute;
      width: auto;
      float: none;
      margin: 0px;
      padding: 0px;

      .menu-button {
        display: none;
      }

      #main-menu ul.links {
        margin: 10px 0 7px;
        float: right;

        li {
          margin: 0 0 0 40px !important;
          padding: 0px;

          a {
            display: block;
            font-size: 116%;
            text-align: right;
            font-weight: 600;
            text-align: center;
            padding: 2px 0;
          }
        }

      // Log in link
      .menu-556 {
        margin-left: 25px;
        position: relative;
        left: 5px;
        a {
          @include small-fancy-button(#2289dd, #0c61a7, #fff, 1px 0 3px);
          text-transform: none;
          text-align: center;
          width: 93px;
          font-weight: 500;
          margin-top: -1px;
        } 
      }
      
      // Sign up link
      .menu-1328 {
        margin-left: 16px !important;
        a {
          @include small-fancy-button(#91c721, #548b1c, #fff, 1px 0 3px);
          text-transform: none;
          text-align: center;
          width: 93px;
          font-weight: 500;
          margin-top: -1px;
          &:hover {
            background-color: darken(#548b1c, 3.75%);
            @include background(linear-gradient(color-stops(darken(#91c721, 3.75%),darken(#548b1c, 3.75%))));
          }
        }
      }        
      }      
    }
  }

  #main-wrapper {
    padding: 0px;
    
    #main {
      max-width: none;
      min-width: $docs-min-width;
      width: 100%;

      #main-inner-inner {
        margin-left: 0px;
      }

      #main-inner {
        position: static !important;
      }

      #content {
        width: 80%;
        padding-top: 84px;
        padding-left: 42px;
        padding-right: 25px !important;
        background: #fafafa;
        margin-left: 20%;
        min-width: 850px;
        border-right: none;
      }

      .sidebars {
        width: 20%;
      }
    }
  }

  #block-stormpath-docs-docs-menu > ul > li > a {
    padding-left: 16px;
  }

  #block-stormpath-docs-docs-menu {

    > ul.menu {
      margin-bottom: 12px;

      > .leaf {
        &.active-trail {
          padding-bottom: 6px;
        }

        &:not(.active-trail):last-child {
          margin-bottom: 0;

          a {
            padding-bottom: 0;
          }
        }
      }
    }

    > ul.menu > li {
      @include docs-font;
      font-size: 15px;
      font-weight: 600;
      color: #252525;
    }

    > ul.menu > li.active-trail {
      padding: 3px 0px 3px 0px;
    }

    > ul.menu > li > ul > li {
      @include docs-font;
      font-size: 14px;
      font-weight: 600;
      color: #252525;
      padding-left: 6px;
      a, a.active {
        font-weight: 600;
      }
    }

    li.active-trail {
      background: #d3d4d6;
      box-shadow: none;
      > ul {
        background: #d3d4d6;
      }
      a {
        border: none !important;
      }
      border: none !important;
    }

    li a.current {
      background: #3a3a3a;
    }
  }

  #block-stormpath-docs-languages {
    margin-bottom: 28px;
    margin-top: 42px;

    .form-item-language  {
      margin: 0px 10px 0px 16px;
    }
  }

  .sidebars {
    min-width: 212px;
    .column.sidebar .block:after {
      content: '';
      height: 0px;
      display: none !important;
    }
  }

  #bottom-wrapper {
    height: 25px;
    line-height: 25px;
    color: #f7f7f7;
    font-size: 12px;
    padding: 61px 0px 23px 0px;
    background: none;
    border: none;

    .region-bottom {
      background: #3c3c3c;
      padding: 0px;
      max-width: none;
      text-align: center;
      
      .block {
        display: inline-block;
        float: none;
      }      
    }

    a {
      color: white;
    }
  }
  
  .stormpath-docs-select-language {
    position: relative;
    label {
      position: absolute;
      left: 16px;
    }
    padding-left: 79px;
    #edit-language {
      width: 100% !important;
      min-width: 90px;
      max-width: 140px;
      height: 24px;
      @include border-radius(3px);
      border: 1px solid #c3c3c3;
      @include box-shadow(inset 0px 0px 1px #444);
      float: none;
      @include docs-font;
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 20px;
    }
  }

  .sidebars .column.sidebar ul.menu li a[target="_blank"]>span:after {
    display: none !important;
  }

  .sidebars .column.sidebar ul.menu li a[target="_blank"]>span {
    position: relative;
    display: inline !important;
    padding-right: 15px;
    background: url('/images/menu-image.png') 100% 100% no-repeat;
  }
}

.menu-divider {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid white;
  margin: 0 19px 4px 14px;
}
