@import "base";

@media all and (max-width: 719px) {
  .menu-button {
    display: block;
	  padding: 1em;
	  background: #000;
	  color: #fff;
	  background-image: url('../images/arrow-down.png');
	  background-repeat: no-repeat;
	  background-position: 93% 18px;
	  cursor: pointer;
  }

  .flexNav-touch,
  .flexNav-no-touch {
    #main-menu ul.links {
      display: none;
    }
    #navigation {
      position: absolute;
      top: -48px;
      width: 100%;
      margin-left: -10px;
      padding: 0;
    }
    body {
      margin-top: 48px;
    }
  }

  #main-menu {
    ul {
      li {
        position: relative;
	      list-style: none;
	      display: block;
	      background-color: #333;
	      width: 100%;
        z-index: 100;
      }
    }

    li.item-with-ul {
	    background-color: #222;
    }

    li a {
      padding: .25em 1em;
	    display: block;
	    color: #ddd;
	    border-bottom: 1px solid #111;
    }

    .top-level a {
      position: relative;
	    display: block;
	    background-color: #333;
	    padding: 1em;
	    z-index: 2;
    }

    li ul {
	    width: 100%;
	    position: relative;
	    border-top: 1px solid #333;
	    border-bottom: 1px solid #333;
    }
    li ul li {
      float: none;
	    width: 100%;
    }

    li ul li a {
      display: block;
	    background-color: #333;
    }

    .item-with-ul {
	    background-image: url('../images/arrow-down.png');
	    background-repeat: no-repeat;
	    background-position: 93% 18px;
    }
    .sub-menu {
     display: none;
    }

    .sub-menu.open {
     display: block;
    }
  }
}

@media all and (min-width: 720px) {
	.menu-button {
		display: none;
	}
}
