@import 'base';
@import 'content';

button,
.form-submit,
input[type="reset"],
input[type="submit"],
input[type="button"],
a.button,
div.button { /* Buttons used by contrib modules like Media */
  @include background(image-url('button-glass.png') no-repeat center -12px $orange);
  &.blue {
    @include background-image(image-url('button-glass.png'));
    background-color: $blue;
  }

  &:focus, &:hover {
    background-color: darken($orange, 10%);
    &.blue {
      background-color: darken($blue, 10%);
    }
  }
}

#header-wrapper {
  background: $header_light image-url('blue-glow-repeat.png') repeat-x left center;
}
#header {
  background: $header_light image-url('blue-glow.png') no-repeat center center;
}

.menu-button {
  display: none;
}

#main {
  position: relative;
}
body.not-front #main {
  margin-top: 88px;
}

$zen-column-count: 4;

.sidebar-first {
  #content { /* Span 4 columns, starting in 2nd column from left. */
    @include zen-grid-item(3, 2);
  }

  .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
    @include zen-grid-item(1, 1);
  }
}

/*
 * The layout when there is only one sidebar, the right one.
 */

.sidebar-second {
  #content { /* Span 4 columns, starting in 1st column from left. */
    @include zen-grid-item(3, 1);
  }

  .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
    @include zen-grid-item(1, 4);
  }
}

/*
 * The layout when there are two sidebars.
 */

.two-sidebars {
  #content { /* Span 3 columns, starting in 2nd column from left. */
    @include zen-grid-item(2, 2);
  }

  .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
    @include zen-grid-item(1, 1);
  }

  .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
    @include zen-grid-item(1, 4);
  }
}

@import 'wide-navigation';
@import 'home';
@import 'narrow-leader';
@import 'wide-leader';

@import 'wide-steps';

#main-menu {
  ul.links {
  margin: 9px 0 7px;
    a {
      padding: 2px 0;
    }
    // Log in link
    .menu-556 {
      margin-left: 16px;
      a {
        @include small-fancy-button(#2289dd, #0c61a7, #fff);
        text-transform: none;
      } 
    }
    // Sign up link
    .menu-1328 {
      margin-left: 16px;
      a {
        @include small-fancy-button(#91c721, #548b1c, #fff);
        text-transform: none;
      }
    }
  }
}

#middle-content-wrapper {
  background: $bg_middle_dark image-url('grey-glow.png') repeat-x 0 0;
}

@import 'footer-zip';

#middle-content-wrapper {
  #block-boxes-home-steps {
    ol {
      padding: 0;
      li {
        .liner {
          padding: 0 70px;
        }
      }
    }
  }
}

#bottom-content {

  #block-boxes-home-lower {
    .read-quote {
      position: absolute;
      left: 0;
    }
    .view-product-demo {
      position: absolute;
      left: -50px;
      top: -75px;
    }
  }
}

@import 'bottom';
@import 'footer';

.region-bottom {
  .block {
    @include zen-float;
  }
}
