/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  p:first-child {
    margin-top: 10px;
  }

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
    a {
      color: $dark_grey;
    }
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
    float: left;
    .username {
      color: $orange; // This seems confusing.
    }

    a {
      color: $orange;

      &:focus, &:hover {
        color: $blue;
      }
    }
  }

  time {
    font-size: 90%;
    font-style: italic;
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
    display: none;
  }

  footer {
    margin-bottom: 1.5em;
  }
  
  &.node-blog {
    .blog-submitted {
      margin: 10px 10px 0 0;
    }
    .submitted,
    .submitted .username,
    .submitted a,
    .blog-submitted time {
      color: #999999;
      font-style: normal;
      text-decoration: none;
    }
    .blog-submitted a:hover {
      text-decoration: underline;
    }
    time {
      font-size: 100%;
      font-style: normal;
    }
    a, a:link {
      color: #0054a1;
      &:hover {
        color: #2c9eee;
      }
    }
    .node-title a,
    .node-title a:link {
      color: $dark_grey;
    }
    &.node-teaser {
      padding-bottom: 10px;
      border-bottom-color: #e9e9e9;
    }
  }
  &.node-teaser {
    .node-title {
      font-size: 211%;
      line-height: 130%;
    }
    .field-name-body {
      line-height: 1.6;
      h2 {
        font-size: 140%;
        line-height: 80%;
        color: #2e2e2e;
      }
    }
  }
}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
  border-bottom: solid 1px $sidebar_border;
  margin-bottom: 40px;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

.addthis-widget-wrapper {
  font-size: 83%;
  line-height: 18px;
  a {
    color: $light_grey;
  }
}

.node-readmore, .node-readmore:link {
  color: $orange;
  &:focus, &:hover {
    color: $blue;
  }
  &:after {
    content: ' >';
  }
}
