@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .container-fluid > {
    .navbar-collapse, .navbar-header {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .container > {
    .navbar-collapse, .navbar-header {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .api-node-container {
    height: calc(100% - 30px);
  }
}

@media (min-width: 576px) {
  .stormpath-guide-node-container.row {
    display: flex;
    flex-wrap: wrap;
    [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
  }
  .rest-api-node-container.row {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 991px) {
  .main-navbar {
    .main-navbar-container {
      margin: 0 !important;
      width: 100% !important;
    }
    .navbar {
      height: auto;
    }
    .navbar-nav {
      margin-left: 0 !important;
    }
  }
  .node-js-section .resp-tabs-list li {
    font-size: 19px;
  }
}

@media screen and (max-width: 860px) {
  .main-navbar .main-navbar__link {
    padding: 0 7px;
  }
}

@media screen and (max-width: 770px) {
  .nav > li > a {
    padding: 10px 13px;
  }
}

@media screen and (max-width: 767px) {
  .main-navbar {
    .navbar-header {
      margin: 15px 0;
    }
    .main-navbar__link a {
      padding-left: 0;
    }
    .navbar-collapse {
      padding-bottom: 150px;
    }
  }
  .navbar-nav .open .dropdown-menu {
    .dropdown-header, > li > a {
      padding: 5px 15px 5px 25px;
    }
  }
  .main-navbar {
    .dropdown-menu {
      .main-navbar__link {
        padding-left: 0 !important;
        line-height: 27px !important;
      }
      margin-left: 40px;
      margin-right: 15px;
    }
    .main-navbar__link::after {
      display: none;
    }
  }
  .node-js-section {
    h2.resp-accordion {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
      border: 0 none !important;
      color: #A1A3A6;
      font-size: 22px;
      border-bottom: 2px solid transparent !important;
      margin: 0 0 12px !important;
      padding: 0 0px 10px !important;
    }
    .box-container {
      margin-top: 10px;
      margin-bottom: 20px;
      .top-section-grp {
        padding: 25px;
      }
      .heading-block h2 {
        font-size: 30px;
        margin: 0 0 30px;
      }
      .example-text {
        font-size: 20px;
      }
      .two-boxes-blc .single-bx {
        margin: 0 0 20px;
        padding: 20px;
        .text, .icon {
          font-size: 22px;
        }
      }
      ul.list-item {
        padding: 10px 0 0;
        li {
          font-size: 22px;
          margin: 0 0 20px;
        }
      }
      .text-container-blc {
        padding: 25px;
        p {
          font-size: 22px;
        }
      }
    }
    padding: 70px 0 30px;
  }
  .documentation-title p {
    margin-bottom: 30px;
  }
}

@media (max-width: 620px) {
  .dive-into-row2 .col-xs-12 {
    width: 100%;
  }
  .dive-into-btn1 a, .dive-into-btn2 a {
    margin: 15px auto;
    display: block;
    float: none;
  }
}

@media (max-width: 575px) {
  .row {
    padding: 0 15px;
  }
  .rest-api-node-container.row [class*='col-'], .documentation-subtitle.row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .stormpath-guide-node-container {
    &.row [class*='col-'] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .clearfix::after {
      display: initial;
    }
  }
  .clearfix::before {
    display: initial;
  }
}

@media (max-width: 480px) {
  .documentation-title p {
    font-size: 24pt;
  }
  .docs-node-text > p, .guide-node-second-row-text {
    font-size: 14pt;
  }
  .guide-node-container {
    padding: 15px;
  }
  .node-js-section {
    h2.heading-blc {
      font-size: 24pt;
      margin: 0 0 50px;
    }
    .box-container .top-section-grp {
      padding: 15px;
    }
  }
  .col-xs-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
