/*Zendesk*/
#zenbox_tab {
  border: solid 1px;
  cursor: pointer;
  position: fixed;
  top: 23%;
  z-index: 10000;
  bottom: 0px !important;
  right: 20px !important;
  top: auto !important;
  border: none !important;
  overflow: hidden;
}

#zenbox_tab img {
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
