{% comment %}
  site.sp_docs_menu contains all menus from section sp_docs_menu in _config.yml.
  first element is menu name, second is menu items array.
{% endcomment %}

<div id="block-stormpath-docs-docs-menu" class="block block-stormpath-docs last even">
  {% assign menu_was_added = false %}
  {% for lang in site.sp_docs_menu %}
        {% comment %}
          We append menu if it related to the page and also append commmon menu.
        {% endcomment %}
  	{% if page.lang == lang[0] or (lang[0] == 'common' and lang[1] | size > 1) %}
                {% if menu_was_added %}
                       <div class="menu-divider"></div> 
                {% endif %}
                {% assign menu_was_added = true %}
		<ul class="menu">
		{% for lang_page in lang[1] %}
			<li class="leaf{% if page.url contains lang_page.url %} active-trail{% endif %}">
			{% if lang_page.url contains 'http://' or lang_page.url contains 'https://' %}
				<a href="{{ lang_page.url }}" target="_blank"><span>{{lang_page.title}}</span></a>
			{% else %}
				<a href="{{ lang_page.url }}">{{lang_page.title}}</a>
			{% endif %}
			{% if page.url contains lang_page.url %}
				{{ content | split_docs_sections | render_docs_menu }}
			{% endif %}
			</li>
		{% endfor %}
		</ul>
  	{% endif %}
  {% endfor %}
</div>