{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="not-front {% if page.classes_array %} {% for class in page.classes_array %}{{ class }}{% endfor %} {% endif %} {% unless page.has_docs_menu %} no-sidebars {% endunless %}">
    {% include page_top.html %}
    <div class="clearfix">
      {% include header.html %}

      {% if page.content_top %}
        <div id="content-top-wrapper">
          <div class="region region-content-top">
            {% include_array content_top %}
          </div>
        </div>
      {% endif %}

      <section class="node-js-section">
        <div class="container">
          <h2 class="heading-blc">Angular</h2>
          <div id="tab">
            <ul class="resp-tabs-list hor_1">
              <li>ANGULAR 1.x</li>
              <li>ANGULAR 2 (BETA)</li>
            </ul>
            <div class="resp-tabs-container hor_1">
              <div>
                <div class="box-container">
                  <div class="top-section-grp">
                    <div class="heading-block">
                      <h2>Angular 1.x</h2>
                    </div>
                    <div class="example-text">
                      $ bower install stormpath-sdk-angularjs --save
                    </div>
                    <div class="two-boxes-blc">
                      <div class="row">
                        <a href="https://github.com/stormpath/stormpath-sdk-angularjs#getting-started">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-forward" aria-hidden="true"></i></div>
                              <div class="text">Quickstart</div>
                            </div>
                          </div>
                        </a>
                        <a href="https://docs.stormpath.com/angularjs/sdk/#/api">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
                              <div class="text">Documentation</div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <ul class="list-item">
                      <li><a href="https://github.com/stormpath/express-stormpath-angular-sample-project"> <div class="icon"><i class="fa fa-angle-left" aria-hidden="true"></i> <i class="fa fa-angle-right" aria-hidden="true"></i></div>Example Application</a></li>
                      <li><a href="https://github.com/stormpath/stormpath-sdk-angularjs"><div class="icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>Project on GitHub</a></li>
                      <li><a href="/angularjs/sdk/#/api"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>API Reference</a></li>
                      <li><a href="https://stormpath.com/blog/fullstack-express-angular-stormpath"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>Angular + Express Tutorial</a></li>
                      <li><a href="https://stormpath.com/blog/angularjs-spring-boot-tutorial"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>Angular + Spring Tutorial</a></li>
                      <li><a href="https://stormpath.com/blog/angularjs-asp-net-core-tutorial"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>Angular + ASP.NET Tutorial</a></li>
                      <li><a href="https://stormpath.com/blog/angularjs-spring-boot-tips"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>Tips for Spring Developers</a></li>
                    </ul>
                  </div>
                  <div class="text-container-blc">
                    <p>For client side applications that are using Angular 1.x.</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div>
                <div class="box-container">
                  <div class="top-section-grp">
                    <div class="heading-block">
                      <h2>Angular 2 (beta)</h2>
                    </div>
                    <div class="example-text">
                      $ npm install --save angular-stormpath
                    </div>
                    <div class="two-boxes-blc">
                      <div class="row">
                        <a href="/angular/api/#installation">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-forward" aria-hidden="true"></i></div>
                              <div class="text">Quickstart</div>
                            </div>
                          </div>
                        </a>
                        <a href="/angular/api/">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
                              <div class="text">Documentation</div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <ul class="list-item">
                      <li><a href="https://github.com/stormpath/stormpath-spring-boot-angular-example"> <div class="icon"><i class="fa fa-angle-left" aria-hidden="true"></i> <i class="fa fa-angle-right" aria-hidden="true"></i></div>Example Application</a></li>
                      <li><a href="https://stormpath.com/blog/angular-2-user-authentication"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>Webapp Tutorial</a></li>
                      <li><a href="https://github.com/stormpath/stormpath-sdk-angular"><div class="icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>Project on GitHub</a></li>
                      <li><a href="https://docs.stormpath.com/angular/api/"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>API Reference</a></li>
                    </ul>
                  </div>
                  <div class="text-container-blc">
                    <p>For client side applications that are using Angular 2.</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include dive-into-rest-docs.html %}

      {% if page.has_docs_menu %}
        <aside class="sidebars">
          {% if page.left_sidebars %}
            <section class="region region-sidebar-first column sidebar">
              {% include_array left_sidebars %}
            </section>
          {% endif %}

          {% if page.right_sidebars %}
            <section class="region region-sidebar-second column sidebar">
              {% include_array right_sidebars %}
            </section>
          {% endif %}
        </aside>
      {% endif %}

      {% if page.hide_footer != true %}
        {% include footer.html %}
      {% endif %}
    </div>

    <script>
      $(document).ready(function() {
        //Horizontal Tab
        $('#tab').easyResponsiveTabs({
          type: 'default', //Types: default, vertical, accordion
          width: 'auto', //auto or any width like 600px
          fit: true, // 100% fit in a container
          tabidentify: 'hor_1', // The tab groups identifier
          activate: function(event) { // Callback function if tab is switched
            var $tab = $(this);
            var $info = $('#nested-tabInfo');
            var $name = $('span', $info);
            $name.text($tab.text());
            $info.show();
          }
        });
      });
    </script>
  </body>
</html>
