{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="not-front {% if page.classes_array %} {% for class in page.classes_array %}{{ class }}{% endfor %} {% endif %} {% unless page.has_docs_menu %} no-sidebars {% endunless %}">
    {% include page_top.html %}
    <div class="clearfix">
      {% include header.html %}

      {% if page.content_top %}
        <div id="content-top-wrapper">
          <div class="region region-content-top">
            {% include_array content_top %}
          </div>
        </div>
      {% endif %}

      <section class="node-js-section">
        <div class="container">
          <h2 class="heading-blc">.NET</h2>
          <div id="tab">
            <ul class="resp-tabs-list hor_1">
              <li>GENERIC .NET</li>
              <li>ASP.NET CORE</li>
              <li>ASP.NET 4.5+</li>
            </ul>
            <div class="resp-tabs-container hor_1">
              <div>
                <div class="box-container">
                  <div class="top-section-grp">
                    <div class="heading-block">
                      <h2>Generic .NET</h2>
                    </div>
                    <div class="example-text">
                      $ install-package Stormpath.SDK
                    </div>
                    <div class="two-boxes-blc">
                      <div class="row">
                        <a href="/csharp/product-guide/latest/quickstart.html">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-forward" aria-hidden="true"></i></div>
                              <div class="text">Quickstart</div>
                            </div>
                          </div>
                        </a>
                        <a href="/csharp/product-guide/latest/">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
                              <div class="text">Documentation</div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <ul class="list-item">
                      <li><a href="https://github.com/stormpath/stormpath-sdk-dotnet"><div class="icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>Project on GitHub</a></li>
                      <li><a href="/csharp/product-guide/latest/quickstart.html"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>C# Quickstart</a></li>
                      <li><a href="/csharp/product-guide/latest/"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>C# Documentation</a></li>
                      <li><a href="/vbnet/product-guide/latest/quickstart.html"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>VB Quickstart</a></li>
                      <li><a href="/vbnet/product-guide/latest/"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>VB Documentation</a></li>
                      <li><a href="/dotnet/api/html/Introduction.htm"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>API Reference</a></li>
                    </ul>
                  </div>
                  <div class="text-container-blc">
                    <p>For an existing server or framework-less project, this
                      package is a fully-featured .NET SDK for our REST API that
                      works with C#, Visual Basic, and other CLR languages.</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div>
                <div class="box-container">
                  <div class="top-section-grp">
                    <div class="heading-block">
                      <h2>ASP.NET Core</h2>
                    </div>
                    <div class="example-text">
                      $ install-package Stormpath.AspNetCore
                    </div>
                    <div class="two-boxes-blc">
                      <div class="row">
                        <a href="/dotnet/aspnetcore/latest/quickstart.html">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-forward" aria-hidden="true"></i></div>
                              <div class="text">Quickstart</div>
                            </div>
                          </div>
                        </a>
                        <a href="/dotnet/aspnetcore/latest/">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
                              <div class="text">Documentation</div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <ul class="list-item">
                      <li><a href="https://github.com/stormpath/stormpath-aspnetcore"><div class="icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>Project on GitHub</a></li>
                      <li><a href="https://github.com/stormpath/stormpath-aspnetcore-example"> <div class="icon"><i class="fa fa-angle-left" aria-hidden="true"></i> <i class="fa fa-angle-right" aria-hidden="true"></i></div>Example Application</a></li>
                      <li><a href="https://stormpath.com/blog/asp-net-core-authentication"> <div class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>Webapp Tutorial</a></li>
                    </ul>
                  </div>
                  <div class="text-container-blc">
                    <p>For web applications or APIs that use ASP.NET Core, this
                      package adds a complete user authentication system in a
                      few lines of code.</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div>
                <div class="box-container">
                  <div class="top-section-grp">
                    <div class="heading-block">
                      <h2>ASP.NET 4.5+</h2>
                    </div>
                    <div class="example-text">
                      $ install-package -pre Stormpath.AspNet
                    </div>
                    <div class="two-boxes-blc">
                      <div class="row">
                        <a href="/dotnet/aspnet/latest/quickstart.html">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-forward" aria-hidden="true"></i></div>
                              <div class="text">Quickstart</div>
                            </div>
                          </div>
                        </a>
                        <a href="/dotnet/aspnet/latest/">
                          <div class="col-md-6 col-xs-12">
                            <div class="single-bx">
                              <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
                              <div class="text">Documentation</div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <ul class="list-item">
                      <li><a href="https://github.com/stormpath/stormpath-aspnet"><div class="icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>Project on GitHub</a></li>
                      <li><a href="https://github.com/stormpath/stormpath-aspnet-example"> <div class="icon"><i class="fa fa-angle-left" aria-hidden="true"></i> <i class="fa fa-angle-right" aria-hidden="true"></i></div>Example Application</a></li>
                    </ul>
                  </div>
                  <div class="text-container-blc">
                    <p>For web applications or APIs that use ASP.NET 4.5+, this
                      package adds a complete user authentication system in a
                      few lines of code.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include dive-into-rest-docs.html %}

      {% if page.has_docs_menu %}
        <aside class="sidebars">
          {% if page.left_sidebars %}
            <section class="region region-sidebar-first column sidebar">
              {% include_array left_sidebars %}
            </section>
          {% endif %}

          {% if page.right_sidebars %}
            <section class="region region-sidebar-second column sidebar">
              {% include_array right_sidebars %}
            </section>
          {% endif %}
        </aside>
      {% endif %}

      {% if page.hide_footer != true %}
        {% include footer.html %}
      {% endif %}
    </div>

    <script>
      $(document).ready(function() {
        //Horizontal Tab
        $('#tab').easyResponsiveTabs({
          type: 'default', //Types: default, vertical, accordion
          width: 'auto', //auto or any width like 600px
          fit: true, // 100% fit in a container
          tabidentify: 'hor_1', // The tab groups identifier
          activate: function(event) { // Callback function if tab is switched
            var $tab = $(this);
            var $info = $('#nested-tabInfo');
            var $name = $('span', $info);
            $name.text($tab.text());
            $info.show();
          }
        });
      });
    </script>
  </body>
</html>
