{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="not-front {% if page.classes_array %} {% for class in page.classes_array %}{{ class }}{% endfor %} {% endif %} {% unless page.has_docs_menu %} no-sidebars {% endunless %}">
    {% include page_top.html %}
    <div class="clearfix">
      {% include header.html %}

      {% if page.content_top %}
        <div id="content-top-wrapper">
          <div class="region region-content-top">
            {% include_array content_top %}
          </div>
        </div>
      {% endif %}

      {{ content | expand_urls: root_url }}

      {% if page.has_docs_menu %}
        <aside class="sidebars">
          {% if page.left_sidebars %}
            <section class="region region-sidebar-first column sidebar">
              {% include_array left_sidebars %}
            </section>
          {% endif %}

          {% if page.right_sidebars %}
            <section class="region region-sidebar-second column sidebar">
              {% include_array right_sidebars %}
            </section>
          {% endif %}
        </aside>
      {% endif %}

      {% if page.hide_footer != true %}
        {% include footer.html %}
      {% endif %}
    </div>
  </body>
</html>
