div.wy-side-nav-search {
    background-color: #68217a;
}

.wy-menu-vertical hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #6e6e6e;
  width: 60%;
  margin: 0.6em 1.5em;
}
