<footer id="footer">

<div class="row">
    <div class="col-sm-4 hidden-xs">
      <div class="blurb">
        <img class='logo' src="/images/template/logo_footer.png"/>
        <p>Stormpath is a User Management API that reduces development time with instant-on, scalable user infrastructure. Stormpath's intuitive API and expert support make it easy for developers to authenticate, manage and secure users and roles in any application.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-push-5">
      <ul class="social-media list-unstyled list-inline text-right">
        <li><a class="twitter" href="https://twitter.com/gostormpath"></a></li>
        <li><a class="github" href="https://github.com/stormpath"></a></li>
        <li><a class="facebook" href="https://www.facebook.com/pages/Stormpath/259202314149649"></a></li>
        <li><a class="google" href="https://plus.google.com/117311343501729372771"></a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-2 col-sm-pull-2">
      <ul class="links list-unstyled">
        <li><a href="https://stormpath.com//about">About</a></li>
        <li><a href="https://stormpath.com//customers">Customers</a></li>
        <li><a href="https://stormpath.com//blog">Blog</a></li>
        <li><a href="http://www.jobscore.com/jobs/stormpath">Jobs</a></li>
        <li><a href="https://stormpath.com//press">Press & News</a></li>
        <li><a href="https://stormpath.com//contact">Contact</a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-2 col-sm-pull-2">
      <ul class="links list-unstyled">
        <li><a href="https://support.stormpath.com/home">Support</a></li>
        <li><a href="http://status.stormpath.com/">Status Report</a></li>
        <li><a href="https://stormpath.com//resources">Resources</a></li>
        <li><a href="https://stormpath.com//resources/compliance">Compliance</a></li>
        <li><a href="https://stormpath.com//resources/security-and-availability">Security & Availability</a></li>
      </ul>
    </div>
  </div>

</footer><!-- region__footer -->
  