<footer id="footer" class="region region-footer">
    <div id="block-boxes-follow-footer" class="block block-boxes block-boxes-simple first odd">

        <h2 class="block-title">Connect with us</h2>
    
  <div id='boxes-box-follow_footer' class='boxes-box'><div class="boxes-box-content"> <ul class="follow-links-footer">
<li><a href="https://github.com/stormpath" class="github">GitHub</a></li>
<li><a href="http://www.twitter.com/gostormpath" class="twitter">Twitter</a></li>
<li><a href="http://www.facebook.com/pages/Stormpath/259202314149649" class="facebook">Facebook</a></li>
<li><a href="mailto:info@stormpath.com" class="email">E-mail us</a></li>

</ul> </div></div>
</div><!-- /.block -->
<div id="block-boxes-footer-left" class="block block-boxes block-boxes-simple even">

      
  <div id='boxes-box-footer_left' class='boxes-box'><div class="boxes-box-content"> <h2 class="stormpath-footer">Stormpath</h2>
<p class="p1">Stormpath is the first easy and secure user management and authentication service for developers. &nbsp;With a simple REST API integration, developers can reduce development and operations costs, while protecting users with best-in-class security.</p> </div></div>
</div><!-- /.block -->
<div id="block-menu-menu-main-footer-menu" class="block block-menu odd" role="navigation">

      
<ul class="menu">
  <li class="first leaf"><a href="https://stormpath.com/resources" title="Stormpath Resources">Resources</a></li>
  <li class="leaf"><a href="https://stormpath.com/about" title="">About</a></li>
  <li class="leaf"><a href="https://stormpath.com/blog" title="">Blog</a></li>
  <li class="leaf"><a href="https://stormpath.com/press" title="">Press &amp; News</a></li>
  <li class="leaf"><a href="http://www.jobscore.com/jobs/stormpath" title="">Jobs</a></li>
  <li class="leaf"><a href="http://status.stormpath.com" title="Status Report for Stormpath API service and Management Console">Status Report</a></li>
  <li class="last leaf"><a href="https://stormpath.com/contact" title="">Contact</a></li>
</ul>
</div><!-- /.block -->
<div id="block-menu-menu-documentation" class="block block-menu even" role="navigation">

        <h2 class="block-title">Documentation</h2>
    
<ul class="menu">
  <li class="first leaf"><a href="{{ root_url }}/rest/quickstart" title="REST API Documentation">REST API Documentation</a></li>
  <li class="leaf"><a href="{{ root_url }}/java/quickstart" title="Java Documentation">Java Documentation</a></li>
  <li class="leaf"><a href="{{ root_url }}/php/quickstart" title="PHP Documentation">PHP Documentation</a></li>
  <li class="leaf"><a href="{{ root_url }}/ruby/quickstart" title="Ruby Documentation">Ruby Documentation</a></li>
  <li class="last leaf"><a href="{{ root_url }}/python/quickstart" title="Python Documentation">Python Documentation</a></li>
</ul>
</div><!-- /.block -->
<div id="block-boxes-get-started-box" class="block block-boxes block-boxes-simple odd">
  <div id='boxes-box-get_started_box' class='boxes-box'><div class="boxes-box-content"> <a href="https://api.stormpath.com/register" class="medium-green-button">Get Started for Free</a> </div></div>
</div><!-- /.block -->
</footer><!-- region__footer -->
  