{% if page.responsive %}
  <header class="navbar navbar-inverse" role="banner">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
        <a class="btn navbar-btn pull-right cta-button visible-xs" href="https://api.stormpath.com/register" onClick="_gaq.push(['_trackEvent', 'sign up', 'sign up button click', 'www', 1, false]);">Sign Up</a>
        <a class="navbar-brand" href="{{ root_url }}/">
          <image class="hidden-xs" src="/images/template/logo_nav.png"/>
          <image class="visible-xs" src="/images/template/logo_750.png"/>
        </a>
      </div>

      <nav class="navbar-collapse collapse">
        <a class="btn navbar-btn navbar-right cta-button hidden-xs" href="https://api.stormpath.com/register" onClick="_gaq.push(['_trackEvent', 'sign up', 'sign up button click', 'www', 1, false]);">Sign Up</a>
        <ul class="nav navbar-nav navbar-right">
		      <li><a href="https://stormpath.com/tutorial/">Tutorial</a></li>
          <li><a href="http://docs.stormpath.com/">Docs</a></li>
          <li><a href="https://stormpath.com/product/">Product</a></li>
          <li><a href="https://stormpath.com/pricing/">Pricing</a></li>
          <li><a href="https://stormpath.com/customers/">Customers</a></li>
          <li class="divider-vertical hidden-xs"></li>
          <li><a href="https://api.stormpath.com/login">Login</a></li>
        </ul>
      </nav>

    </div>
  </header>

{% else %}

  <header class="navbar navbar-inverse" role="banner">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="{{ root_url }}/">
          <image src="/images/template/logo_nav.png"/>
        </a>
      </div>

      <nav>
        <a class="btn navbar-btn pull-right cta-button" href="https://api.stormpath.com/register" onClick="_gaq.push(['_trackEvent', 'sign up', 'sign up button click', 'www', 1, false]);">Sign Up</a>
        <ul class="nav navbar-nav pull-right">
          <li><a href="https://stormpath.com/tutorial/">Tutorial</a></li>
          <li><a href="http://docs.stormpath.com/">Docs</a></li>
          <li><a href="https://stormpath.com/product/">Product</a></li>
          <li><a href="https://stormpath.com/pricing/">Pricing</a></li>
          <li><a href="https://stormpath.com/customers/">Customers</a></li>
          <li class="divider-vertical hidden-xs"></li>
          <li><a href="https://api.stormpath.com/login">Login</a></li>
        </ul>
      </nav>

    </div>
  </header>

{% endif %}
