<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800" media="all" />

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/cupertino/jquery-ui.css" />
<link rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/mono-blue.min.css" />

<!--[if lt IE 9]>
<script src="{{ root_url }}/javascripts/html5-respond.js"></script>
<![endif]-->

<link rel="publisher" href="https://plus.google.com/117307959654441669381" />
<!-- twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.twitter_user }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
{% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% endif %}
<meta name="twitter:image:src" content="{% if page.image %}{{ page.image }}{% else %}{{ site.twitter_image }}{% endif %}">
<!-- opengraph -->
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}" />
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.facebook_image }}{% endif %}" />
{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="fb:admins" content="{{ site.facebook_app_id }}" />

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-29159574-1', 'auto');
    ga('send', 'pageview');

</script>

<!-- kissmetrics -->
<script type="text/javascript">
  var _kmq = _kmq || [];
  var _kmk = _kmk || '684b854336bd3a6523260ebd991eec06b18b929a';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>

<!-- Optimizely -->
<script src="//cdn.optimizely.com/js/225847041.js"></script>
