{% if page.responsive %}
<nav class="navbar navbar-storm" role="navigation">
  <div class="navbar-container">

    <div class="navbar-header">
      <a class="navbar-brand" href="https://stormpath.com/">
        <img src="/images/template/logo_nav.png"/>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="main-nav">
      <a type="button" class="btn navbar-btn button-primary-bordered button-signup navbar-right" href="https://api.stormpath.com/register" onClick="ga('send', 'event', { eventCategory: 'sign up', eventAction: 'sign up button click', eventLabel: 'www', eventValue: 1});">Sign Up Now</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://docs.stormpath.com/">Docs</a></li>
        <li><a href="https://stormpath.com/product">Product</a></li>
        <li><a href="https://stormpath.com/pricing">Pricing</a></li>
        <li><a href="https://stormpath.com/customers">Customers</a></li>
        <li><a href="https://boards.greenhouse.io/stormpath">Jobs</a></li>
        <li><a href="https://api.stormpath.com/login">Login</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
{% else %}

<nav class="navbar navbar-storm" role="navigation">
  <div class="navbar-container">

    <div class="navbar-header">
      <a class="navbar-brand" href="https://stormpath.com/">
        <img src="/images/template/logo_nav.png"/>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="main-nav">
      <a type="button" class="btn navbar-btn button-primary-bordered button-signup navbar-right" href="https://api.stormpath.com/register" onClick="ga('send', 'event', { eventCategory: 'sign up', eventAction: 'sign up button click', eventLabel: 'www', eventValue: 1});">Sign Up Now</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://docs.stormpath.com/">Docs</a></li>
        <li><a href="https://stormpath.com/product">Product</a></li>
        <li><a href="https://stormpath.com/pricing">Pricing</a></li>
        <li><a href="https://stormpath.com/customers">Customers</a></li>
        <li><a href="https://boards.greenhouse.io/stormpath">Jobs</a></li>
        <li><a href="https://api.stormpath.com/login">Login</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

{% endif %}
