<h2 class="element-invisible">Main menu</h2>
<ul class="links inline clearfix">
<li class="menu-1413 first"><a href="{{ root_url }}/" title="Documentation">Docs</a></li>
<li class="menu-710"><a href="http://www.stormpath.com/product">Product</a></li>
<li class="menu-709"><a href="http://www.stormpath.com/pricing">Pricing</a></li>
<li class="menu-438"><a href="https://support.stormpath.com/" title="">Support</a></li>
<li class="menu-547"><a href="http://www.jobscore.com/jobs/stormpath" title="Jobs at Stormpath. Join us!">Jobs</a></li>
<li class="menu-556"><a href="http://api.stormpath.com" title="">Log in</a></li>
<li class="menu-1328 last cta-button"><a href="https://api.stormpath.com/register" title="">Sign up</a></li>
</ul>