<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="get-started-page"><h3 id="installation---bower">Installation - Bower</h3>
<p>If you are using <a href="https://bower.io">Bower</a> you can simply install
our package:</p>
<pre><code>bower install --save stormpath-sdk-angularjs
</code></pre><h3 id="installation---manual">Installation - Manual</h3>
<p>If you would like to add the scripts manually, simply get the latest files from
the <a href="https://github.com/stormpath/stormpath-sdk-angularjs/tree/master/dist">dist folder on github</a>.
Then add them to the <code>&lt;head&gt;</code> section of your document:</p>
<pre class="prettyprint linenums">
&lt;script src="stormpath-sdk-angularjs.min.js"&gt;&lt;/script&gt;
&lt;script src="stormpath-sdk-angularjs.tpls.min.js"&gt;&lt;/script&gt;
</pre>
<h3 id="configuration">Configuration</h3>
<p>You will need to add <code>stormpath</code> as a depenency of your Angular application,
and the templates if you will be using those:</p>
<pre class="prettyprint linenums">
&lt;script&gt;
  var myApp = angular.module('myApp', ['stormpath','stormpath.templates']);
&lt;/script&gt;
</pre>
<h3 id="templates-are-optional">Templates are optional</h3>
<p>This libray includes some default view templates for forms, such as
registration and login.  You have the option to specify your own templates
for those directives.  If you are using your own templates it does not make
sense to include our defaults.</p>
<p>If you are using the manual installation: sipmply remove the file
<code>stormpath-sdk-angularjs.tpls.min.js</code></p>
<p>If you are using Bower, you can specify an override for this module
and only include the core javascript.  This is done inside your
<code>bower.json</code> file:</p>
<pre class="prettyprint linenums">
{
    // .. the rest of your bower.json ..

 "overrides":{
   "stormpath-sdk-angularjs":{
     "main":[
       "dist/stormpath-sdk-angularjs.min.js"
     ]
   }
 }
}
</pre>
</div></div>
