
<script src="//yandex.st/highlightjs/8.0/highlight.min.js"></script>

<script>
$(function() {
   hljs.initHighlightingOnLoad();

   /* javascript for codetab to stop the pagae from shifting when changing tabs (tab sync) */
   var currentEventTab;
   var initialOffsetObject;
   var initialPageYOffset;

   $('.tabs').tabs({
		activate: function(event ,ui){
			if(event.cancelable){
				currentEventTab = event.target;
				initialOffsetObject = $(currentEventTab).offset().top;
				initialPageYOffset = window.pageYOffset;
			}

			$('.tabs').tabs('option', 'active', ui.newTab.index());
			var afterChangeOffset = $(currentEventTab).offset().top;
			var afterPageYOffset = window.pageYOffset;

			$('body').scrollTop(initialPageYOffset - (initialOffsetObject - afterChangeOffset));
		}
	});
});
</script>

{% include disqus.html %}
{% include facebook_like.html %}
{% include google_plus_one.html %}
{% include twitter_sharing.html %}
{% include custom/after_footer.html %}
