        <div class="region region-bottom">
    <div id="block-block-1" class="block block-block first odd">

      
   Copyright © 2014 StormPath&nbsp;&nbsp;|&nbsp;&nbsp;All rights reserved 
</div><!-- /.block -->
<div id="block-menu-menu-footer-menu" class="block block-menu last even" role="navigation">

      
  <ul class="menu"><li class="first leaf"><a href="https://stormpath.com/privacy_policy">Privacy policy</a></li>
<li class="last leaf"><a href="https://stormpath.com/terms_of_service">Terms of Service</a></li>
</ul>
</div><!-- /.block -->
  </div><!-- /.region -->
