<div class="region">

	<div class="credits">
	  <div class="container">
	    <ul class="list-unstyled list-inline">
	      <li>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author }}</li>
	      <li class="divider-vertical"></li>
	      <li>All rights reserved</li>
	      <li class="divider-vertical"></li>
	      <li><a href="https://stormpath.com/privacy_policy">Privacy policy</a></li>
	      <li class="divider-vertical"></li>
	      <li><a href="https://stormpath.com/terms-of-service">Terms of service</a></li>
	    </ul>
	  </div>
	</div>

</div><!-- /.region -->
