<div class="dive-into-rest-api-section">
  <div class="container">
    <div class="dive-into-row1 row">
      <p>Dive Into Our REST API Documentation</p>
    </div>
    <div class="dive-into-row2 row">
      <div class="col-sm-6 col-xs-12">
        <div class="dive-into-btn1">
          <a href="/rest/product-guide/latest/">REST API PRODUCT GUIDE</a>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="dive-into-btn2">
          <a href="/rest/product-guide/latest/quickstart.html">REST API QUICK START</a>
        </div>
      </div>
    </div>
  </div>
</div>
