<!--
<div id="block-boxes-docs-select-box" class="block block-boxes block-boxes-simple first last odd">


  <div id="boxes-box-docs_select_box" class="boxes-box"><div class="boxes-box-content"> <section id="docs-get-started">
<p><img src="{{ root_url }}/images/docs-main.png"></p>
<div class="wide-center">
<h2><a id="GetStartedwithStormpath"></a>Get Started with Stormpath</h2>
<p>Quickly setup your application with our Quickstart Guides</p>
<form class="stormpath-docs-select-language"><select name="language" class="stormpath-fancy-select"><option value="rest" selected="selected">REST API Quickstart</option><option value="java">Java Quickstart</option> <option value="nodejs">Node.js Quickstart</option><option value="python">Python Quickstart</option><option value="php">PHP Quickstart</option> <option value="ruby">Ruby Quickstart</option> </select> <input type="submit" value="Get Started"></form></div>
</section> </div></div>
</div>
-->
<script src="{{ root_url }}/javascripts/stormpath_docs.js"></script>
<script type="text/javascript">
	var sp_docs_menu = {};
	{% for lang in site.docs %}
		sp_docs_menu['{{lang[0]}}'] = [];
		{% for page in lang[1] %}
			sp_docs_menu['{{lang[0]}}'].push('{{page}}');
		{% endfor %}
	{% endfor %}
</script>
