<!-- Qualaroo for stormpath.com -->
<script type="text/javascript">var _kiq = _kiq || [];</script>
<script type="text/javascript" src="//s3.amazonaws.com/ki.js/47725/9JM.js" async="true"></script>
      
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20184231",
      url:         "https://stormpath.zendesk.com",
      tabTooltip:  "Get Help",
      tabImageURL: "/images/tab_questions_black_right.png",
      tabColor:    "689ed0",
      tabPosition: "Right"
    });
  }
</script>
