<div class="sharing">

  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_hackernews"></a>
    <a class="addthis_button_google_plusone_share"></a>
    <a class="addthis_button_linkedin"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_email"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.add_this_id }}"></script>
  <!-- AddThis Button END -->

</div>