ErrorDocument 404 /404.html
Redirect 301 /index.html https://docs.stormpath.com/home/
Redirect 301 //guides/multi-tenant/index.html https://docs.stormpath.com/rest/product-guide/latest/multitenancy.html
