ErrorDocument 404 /404.html
Redirect 301 /guides/multi-tenant/index.html https://docs.stormpath.com/rest/product-guide/latest/multitenancy.html
Redirect 301 /errors/index.html https://docs.stormpath.com/rest/product-guide/latest/errors.html
Redirect 301 /rest/product-guide/index.html https://docs.stormpath.com/rest/product-guide/latest/index.html
Redirect 301 /console/product-guide/index.html /console/product-guide/latest/index.html
Redirect 301 /console/quickstart.html /console/product-guide/latest/getting-started.html

## Redirect the old Node API docs to the new JsDocs

Redirect 301 /nodejs/api/home http://docs.stormpath.com/nodejs/jsdoc/
Redirect 301 /nodejs/api/client http://docs.stormpath.com/nodejs/jsdoc/Client.html
Redirect 301 /nodejs/api/apiKey http://docs.stormpath.com/nodejs/jsdoc/ApiKey.html
Redirect 301 /nodejs/api/account http://docs.stormpath.com/nodejs/jsdoc/Account.html
Redirect 301 /nodejs/api/accountStoreMapping http://docs.stormpath.com/nodejs/jsdoc/Client.html
Redirect 301 /nodejs/api/application http://docs.stormpath.com/nodejs/jsdoc/Application.html
Redirect 301 /nodejs/api/assertionAuthenticationResult http://docs.stormpath.com/nodejs/jsdoc/AssertionAuthenticationResult.html
Redirect 301 /nodejs/api/authenticationResult http://docs.stormpath.com/nodejs/jsdoc/AuthenticationResult.html
Redirect 301 /nodejs/api/cache http://docs.stormpath.com/nodejs/jsdoc/Client.html
Redirect 301 /nodejs/api/cacheManager http://docs.stormpath.com/nodejs/jsdoc/Client.html
Redirect 301 /nodejs/api/collectionResource http://docs.stormpath.com/nodejs/jsdoc/CollectionResource.html
Redirect 301 /nodejs/api/customData http://docs.stormpath.com/nodejs/jsdoc/CustomData.html
Redirect 301 /nodejs/api/directory http://docs.stormpath.com/nodejs/jsdoc/Directory.html
Redirect 301 /nodejs/api/group http://docs.stormpath.com/nodejs/jsdoc/Group.html
Redirect 301 /nodejs/api/groupMembership http://docs.stormpath.com/nodejs/jsdoc/GroupMembership.html
Redirect 301 /nodejs/api/organization http://docs.stormpath.com/nodejs/jsdoc/Organization.html
Redirect 301 /nodejs/api/organizationAccountStoreMapping http://docs.stormpath.com/nodejs/jsdoc/OrganizationAccountStoreMapping.html
Redirect 301 /nodejs/api/SamlIdpUrlBuilder http://docs.stormpath.com/nodejs/jsdoc/SamlIdpUrlBuilder.html
Redirect 301 /nodejs/api/stormpathAssertionAuthenticator http://docs.stormpath.com/nodejs/jsdoc/StormpathAssertionAuthenticator.html
Redirect 301 /nodejs/api/oauthStormpathTokenAuthenticator http://docs.stormpath.com/nodejs/jsdoc/OAuthStormpathTokenAuthenticator.html
Redirect 301 /nodejs/api/oAuthStormpathTokenAuthenticationResult http://docs.stormpath.com/nodejs/jsdoc/OAuthStormpathTokenAuthenticationResult.html
Redirect 301 /nodejs/api/tenant http://docs.stormpath.com/nodejs/jsdoc/Tenant.html
Redirect 301 /nodejs/express/about.html  https://docs.stormpath.com/nodejs/express/latest/
Redirect 301 /nodejs/express/product.html https://docs.stormpath.com/nodejs/express/latest/
Redirect 301 /nodejs/express/quickstart.html https://docs.stormpath.com/nodejs/express/latest/setup.html
Redirect 301 /nodejs/express/setup.html  https://docs.stormpath.com/nodejs/express/latest/setup.html
Redirect 301 /nodejs/express/changelog.html  https://docs.stormpath.com/nodejs/express/latest/changelog.html
Redirect 301 /nodejs/express/upgrading.html  https://docs.stormpath.com/nodejs/express/latest/
Redirect 301 /nodejs/express/latest/about.html https://docs.stormpath.com/nodejs/express/latest/
Redirect 301 /nodejs/express/latest/product.html https://docs.stormpath.com/nodejs/express/latest/
Redirect 301 /nodejs/api/samlIdpUrlBuilder http://docs.stormpath.com/nodejs/jsdoc/SamlIdpUrlBuilder.html
Redirect 301 /nodejs/api/resourceError https://docs.stormpath.com/nodejs/jsdoc
Redirect 301 /nodejs/quickstart https://docs.stormpath.com/nodejs/product-guide/latest/
